
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;

    --light: #F9F9F9;
    --blue: #3C91E6;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
}

html {
    overflow-x: hidden;
}

body.dark {
    --light: #0C0C1E;
    --grey: #060714;
    --dark: #FBFBFB;
}

body {
    background: var(--grey);
    margin:0 ;
    display: grid;
    max-width: 100%;
    grid-template-columns: 60px 100px repeat(10, 1fr);
    grid-template-rows: 80px 80px auto 60px 80px ;
    overflow-x: hidden;
    height:100vh;
}





/* SIDEBAR */
#sidebar {
    grid-column: 1/ 2;
    grid-row: 1/6;
   /* width: 280px;*/
    height: 100%;
    background: var(--light);
    z-index: 2000;
    font-family: var(--lato);
    transition: .3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
    background-color: rgb(176, 196, 222);
}

#sidebar:state(webkit-scrollbar) {
    display: none;
}

#sidebar.hide {
    grid-column: 1/ 3;
}

#sidebar .brand {
    font-size: 24px;
    font-weight: 700;
  
    display: flex;
    align-items: center;
    color: var(--light);
    background: var(--light);
    z-index: 500;
  
    background-color: rgb(176, 196, 222);
}

#sidebar .brand .bx{
    margin:15px 5px 0 20px;
    display: flex;
    justify-content: center;
}
#sidebar .brand  .text{
    margin:15px 0 0 10px;
}
#sidebar .side-menu {
    width: 100%;
    margin-top: 90px;
}

#sidebar .side-menu li {
    height: 50px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

#sidebar .side-menu li.active {
    background: var(--grey);
    position: relative;
}

#sidebar .side-menu li.active::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

#sidebar .side-menu li.active::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: rgb(176, 196, 222);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
}
.text{
    margin-left: -10px;
}
#sidebar .side-menu.top li.active a {
    color: var(--dark);
}

#sidebar.hide .side-menu li a {
    width: 100%;
    transition: width .3s ease;
}

#sidebar .side-menu li a.logout {
    color: var(--red);
}

#sidebar .side-menu.top li a:hover {
    color: var(--light);
}

#sidebar .side-menu li a .bx {
    margin-right: 5px;

    min-width: calc(70px - ((4px + 6px) * 2));
    display: flex;
    justify-content:space-around;
}

/* SIDEBAR */





/* CONTENT */
#content {
    position: relative;
    grid-column: 2/ 13;
    grid-row: 1/2;
  
    transition: .3s ease;
}

#sidebar.hide~#content {
    grid-column: 3/ 13;
}




/* NAVBAR */
#content nav {
    height: 56px;
    background: rgb(176, 196, 222);
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    font-family: var(--lato);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

#content nav::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 rgb(176, 196, 222);
}

#content nav a {
    color: var(--dark);
}

#content nav .bx.bx-menu {
    cursor: pointer;
    color: var(--dark);
}

#content nav .nav-link {
    font-size: 16px;
    transition: .3s ease;
}

#content nav .nav-link:hover {
    color: var(--blue);
}

#content nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

#content nav form .form-input {
    display: flex;
    align-items: center;
    height: 36px;
}

#content nav form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

#content nav form .form-input button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

